body {
font-family: Arial, sans-serif;
background-color: #f8f8f8;
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="text"]
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color:#0081ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #005bb3;
}

hr {
    margin: 20px 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.pass {
    background-color: #d9edd9;
    color: #165722;
}

.fail {
    background-color: #f8cfd9;
    color: #721c24;
}